body {
  font-family: monospace;
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: rgb(168, 93, 238);
  color: aliceblue;
}

.menubar {
  display: none;
}

.link {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.bar {
  width: 30px;
  height: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: aliceblue;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .menubar {
    display: block;
  }

  .link {
    display: none;
  }

  .navbar:has(.menubar:hover) .link {
    border: 2px solid blueviolet;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 87px;
    right: 8px;
    color: blueviolet;
  }

  .main1 {
    flex-direction: column;
    border: 10px solid darkorchid;
    align-items: center;
  }

  .common {
    width: 300px;
  }

  .div2 {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: column;

  }
}

.main1 {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid; */
}

.common {
  width: 45%;
  height: 80vh;
  border: 2px solid black;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(118, 153, 184);
  color: rgb(152, 60, 238);
  margin-bottom: 20px;
}

.img {
  margin-top: 40px;
  justify-self: center;
  width: 60%;
  height: 60%;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;

}









.main {
  display: flex;
  justify-content: center;
  margin: 5%;

}

.div1 {

  display: flex;

  .spid {
    border: 2px solid gray;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 20px rgb(61, 61, 61);
  }

  .wond {
    border: 2px solid gray;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 20px rgb(61, 61, 61);
  }

}

.div2 {
  margin: 60px;
}

.div3 {
  display: flex;

  .capt {
    border: 2px solid gray;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 20px rgb(61, 61, 61);
  }

  .gem {
    border: 2px solid gray;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 20px rgb(61, 61, 61);
  }
}

.cal {
  width: 35%;
  height: 75vh;
  border: 2px solid;
  justify-self: center;
  background-color: rgb(37, 37, 37);
  color: aliceblue;
}

.sum {
  font-size: 30px;
  border: 2px solid aliceblue;
  height: 15%;
}

.DOD {
  margin: 0PX;
  text-align: end;
  margin-right: 10PX;
}

p {
  margin: 0px;
}

.num {
  display: grid;
  margin-bottom: 20px;
  width: 90%;
  height: 85%;
  justify-self: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px 20px;
}

.Cw1 {
  background-color: aliceblue;
  border-radius: 50%;
}

.Cy2 {
  background-color: rgb(255, 187, 0);
  border-radius: 50%;
}


/* image collection */

.contant {
  margin-top: 50px;
  padding-top: 25px;
  border: 5px solid rgb(229, 141, 141);
  width: 1000px;
  justify-self: center;
  height: 1000px;
  gap: 25px 25px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
}

.collection{
  width: 100%;
  height: 100%;

}
.imag{
  border: 3px solid rgb(184, 129, 236);
}
.div1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.div2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end:3 ;
  margin: 0;
}
.div3 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.div7{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  
}
@media screen and (max-width: 768px) {
  .contant{
    width: 640px;
    height: 640px;
    gap: 10px 10px;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 200px);
  }
  .div1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .div2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:3 ;
    margin: 0;
  }
  .div3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .div4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .div5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .div6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
    
  .div7{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    
  }

}
